@tailwind base;
@tailwind components;
@tailwind utilities;


.line {
  height: 10px;
  background-color: rgb(221, 221, 221);
  margin: 5px 0;
  border-radius: 2px;
  margin-left: 5px;
}

.long {
  width: 90%;
}

.short {
  width: 50%;
}

.shorter {
  width: 30%;
}

.mesh {
  background-color: hsla(214, 0%, 100%, 1);
  background-image:
    radial-gradient(at 25% 76%, hsla(198, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 85%, hsla(151, 66%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 85%, hsla(41, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 10%, hsla(202, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 54%, hsla(92, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 48% 17%, hsla(262, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 25% 28%, hsla(135, 65%, 62%, 0.45) 0px, transparent 50%);
}